/*
 * :global {...} is used by rollup-plugin-postcss-modules
 * Disables module BEM class name transformations
 * For more info, see:
 * https://github.com/css-modules/css-modules
 */
:global {
  .user-interface-builder {
    label {
      margin-bottom: 0.25em;
    }
  }

  .label-wrapper label {
    display: inline-block;
    margin: 0.5rem 0 0 0;
  }

  .ui-card {
    min-width: 200px;
    margin-bottom: 25px;
  }

  .ui-list.ui-list-horizontal {
    display: flex;
    overflow-x: auto;
  }

  .ant-form-item {
    margin: 0 !important;

    .ant-form-item-label {
      line-height: 21px !important;
    }
  }

  .ant-col {
    .ant-form-item-children {
      .ant-select {
        display: block;
      }
    }
  }

  .ant-card {
    .ant-collapse {
      margin: 10px 0;
    }
  }
}
