@model MailApplication.Models.RunLogViewModel
@{
    ViewBag.Title = "Index";
}

<div class="row form-group">
    <div class="col-xs-1">
        <h2>RunLog</h2>
    </div>
    <div class="col-xs-1 pull-right">
        <button type="button" class="pull-right btn btn-success btn-new" title="Add" onclick="location.href='/RunLog/Index'">Refresh</button>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-xs-6">
        <div contenteditable="false">
            @if (@Model.Records.Count() > 0)
            {
                <p>@Model.Records.First().RunTime - Start Load Seeds</p>
            }
            @foreach (var item in Model.Records)
            {
                <p>@item.RunTime - @item.Description</p>
            }
            ...

        </div>
    </div>
</div>