@import "../theme";

.e-grid {
  border: 0;

  .e-content {
    transition: margin-bottom ease-in-out 250ms, padding-bottom ease-in-out 250ms;
  }
  .e-content:not(:hover) {
    margin-bottom: -50px; /* to hide horizontal scrollbar */
    padding-bottom: 50px; /* to hide horizontal scrollbar */
  }

  .e-toolbar {
    border: 0;
  }

  .e-detailindentcell {
    border: 0;
  }

  .e-detailcell {
    border: 0;
  }

  .e-gridheader {
    border: 0;
  }

  .e-headercell,
  .e-detailheadercell {
    background: #fafafa;
    border-bottom: 1px solid $border-color;
  }

  .e-rowcell,
  .e-detailrowcollapse {
    border-color: $border-color;
  }

  &.e-resize-lines .e-headercell .e-rhandler {
    border-color: $border-color;
  }

  td.e-active {
    background-color: $background-color-primary-light;
  }

  .e-toolbar .e-toolbar-items .e-toolbar-left .e-toolbar-item:first-child {
    margin-left: 0;
  }
}
