.e-grid {
  border: 0;
}

.e-grid .e-toolbar {
  border: 0;
}

.e-grid .e-detailindentcell {
  border: 0;
}

.e-grid .e-detailcell {
  border: 0;
}

.e-grid .e-gridheader {
  border: 0;
}

.e-grid .e-headercell,
.e-grid .e-detailheadercell {
  background: #fafafa;
  border-bottom: 1px solid #e8e8e8;
}

.e-grid .e-rowcell,
.e-grid .e-detailrowcollapse {
  border-color: #ebeff2;
}

.e-grid.e-resize-lines .e-headercell .e-rhandler {
  border-color: #e8e8e8;
}
