PORT=3001
//ec2-35-170-186-135.compute-1.amazonaws.com:4000/:_authToken="AqUF6Olvt+e7DEHlL5umooiSknyuuEXNJMKArnRJmis="
registry=https://registry.npmjs.org/
@opg:registry=http://ec2-18-212-74-48.compute-1.amazonaws.com:4000/
