@Styles.Render("~/Content/login.css")
@Styles.Render("~/Content/bootstrap.min.css")
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="@Url.Content("~/Scripts/jquery-3.2.1.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
</head>
<body>
    <div class="loginmodal-container">
        <h1>Forgot Password</h1><br>
        <form action="/Account/ChangePassword" method="post">
            <input type="password" name="password" placeholder="New Password">
            <input type="submit" name="login" class="login loginmodal-submit" value="Change Password">
            <input type="hidden" name="token" placeholder="New Password" value=@Request.QueryString["token"]>
        </form>
    </div>
</body>
</html>