.codeBlock {
  code {
    font-family: Menlo, Monaco, "Courier New", monospace;
    color: darkgreen;
    padding: 20px !important;
    display: block;
    overflow: hidden;
    overflow-x: auto;
  }
}
