$ib-red: #c70039; // disabled
$ib-blue: #00b2ff; // invisible
$ib-grey: #b6b6b6; // blocked
$ib-yellow: #fff004; // highlight

$ib-highlight: rgba($ib-yellow, 0.3); // higher opacity is darker
$ib-highlight-solid: mix($ib-yellow, #fff, 50%); // higher percent is darker;
$ib-highlight-light: rgba($ib-yellow, 0.2); // higher opacity is darker

$ib-default: rgba($ib-grey, 0.3); // higher opacity is darker
$ib-default-solid: mix($ib-grey, #fff, 30%); // higher percent is darker;
$ib-default-light: rgba($ib-grey, 0.1); // higher opacity is darker

$ib-invisible: rgba($ib-blue, 0.5); // higher opacity is darker
$ib-invisible-solid: #99d9ff; //mix($ib-blue, #fff, 50%);
$ib-invisible-light: rgba($ib-blue, 0.05); // higher opacity is darker

$ib-disabled: rgba($ib-grey, 0.5); // higher opacity is darker
$ib-disabled-solid: mix($ib-grey, #fff, 50%); // higher percent is darker
$ib-disabled-light: rgba($ib-grey, 0.2); // higher opacity is darker

$ib-blocked: rgba($ib-red, 0.4); // higher opacity is darker
$ib-blocked-solid: mix($ib-red, #fff, 40%); // higher percent is darker;
$ib-blocked-light: rgba($ib-red, 0.05); // higher opacity is darker
