<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="reportsSoap" maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000" />
                <binding name="reportsSoap1" maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000" />
            </basicHttpBinding>
            <customBinding>
                <binding name="reportsSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="reportsSoap121">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://login.addemand.com/affiliates/api/9/reports.asmx"
                binding="basicHttpBinding" bindingConfiguration="reportsSoap"
                contract="CakeV9.reportsSoap" name="reportsSoap" />
            <endpoint address="http://login.addemand.com/affiliates/api/9/reports.asmx"
                binding="customBinding" bindingConfiguration="reportsSoap12"
                contract="CakeV9.reportsSoap" name="reportsSoap12" />
            <endpoint address="http://admin.smartadv.com/api/10/reports.asmx"
                binding="basicHttpBinding" bindingConfiguration="reportsSoap1"
                contract="CakeV10.reportsSoap" name="reportsSoap1" />
            <endpoint address="http://admin.smartadv.com/api/10/reports.asmx"
                binding="customBinding" bindingConfiguration="reportsSoap121"
                contract="CakeV10.reportsSoap" name="reportsSoap121" />
        </client>
    </system.serviceModel>
</configuration>