$opg-blue-light: #4c92e7;
$opg-blue: #125dcb;
$opg-orange: #fe5b02;
$opg-orange-light: #ffab00;
$opg-gray-light: #f8f9fa;
$opg-gray: #d3d3d3;
$opg-gray-medium: #919191;
$opg-gray-dark: #272727;
$header-height: 56px;
$padding: 16px;

/*
* :global {...} disables module BEM class name transformations
* For more info, see: https://github.com/css-modules/css-modules
*/
:global {
  :local(.layoutContainer) {
    height: 100vh;

    > .ant-layout {
      background-color: white;

      > .ant-layout-footer {
        background-color: white;
      }
    }
  }
}

.breadCrumbsRow {
  padding: $padding 30px;
}

.title {
  font-size: 1.5rem;
  font-weight: 200;
  text-align: center;
}

/**************************************************************************
 *
 * SIDEBAR
 */

/*
* :global {...} disables module BEM class name transformations
* For more info, see: https://github.com/css-modules/css-modules
*/
:global {
  :local(.sidebar) {
    background-color: $opg-gray-light;

    .ant-menu {
      background-color: $opg-gray-light;
      border: none !important;
    }
  }
}

$sidebarButtonSize: 24px;
$sidebarButtonBorderWidth: 1px;
.sidebarToggleButton {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: ($header-height / 2) - ($sidebarButtonSize / 2) - $sidebarButtonBorderWidth;
  transform: translateX(50%);
  z-index: 1;
  border-color: $opg-orange;
  border-width: $sidebarButtonBorderWidth;
  color: $opg-orange;
  background-color: white !important;
  width: $sidebarButtonSize;
  height: $sidebarButtonSize;
  min-width: $sidebarButtonSize;
  font-size: 0.8em;
  &:hover,
  &:focus {
    border-color: $opg-orange-light;
    color: $opg-orange-light;
  }
}

.menuSearchButton {
  color: $opg-gray-medium;

  &:hover {
    color: $opg-orange;
  }
}

.appLogo {
  font-size: 20px;
  color: white;
  display: flex;
  align-items: center;
  height: $header-height;
  background: $opg-orange;
  padding-left: $padding;
  padding-right: $padding;
  white-space: nowrap;
  overflow: hidden;
  transition: all ease-in 0.5s;

  * {
    color: #fff !important;
    font-weight: 300 !important;
  }

  &.appLogoCollapsed {
    justify-content: center;
  }
}

/**************************************************************************
 *
 * HEADER
 */

.header {
  background-color: white;
  height: $header-height;
  line-height: $header-height;
  padding: 0 30px;
  border-bottom: solid 1px $opg-gray;
  overflow: hidden;

  align-content: stretch;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;

  .appDescription {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
    font-size: 0.9em;
  }

  .headerRightPanel {
    order: 0;
    flex: 0 0 auto;
    align-self: auto;
  }
}

.userAvatar {
  background-color: $opg-gray;
  color: white;
  border: solid 2px $opg-gray-light;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 0;
  margin-right: -2px; // The hover border extends an extra 2px, so we remove that for right alignment

  &:hover {
    border-color: $opg-orange;
  }
}

/**************************************************************************
 *
 * APPS MENU
 */

/*
* :global {...} disables module BEM class name transformations
* For more info, see: https://github.com/css-modules/css-modules
*/
:global {
  :local(.appsMenuPopover) {
    .ant-popover-inner-content {
      display: grid;
      grid-template-columns: auto auto;
      background-color: $opg-gray-light;
    }
  }

  :local(.appsMenuItem) {
    text-align: center;
    padding: $padding 12px;

    &:hover {
      .anticon {
        background-color: lighten($opg-orange-light, 40%);
      }
    }

    &:active {
      .anticon {
        background-color: lighten($opg-orange-light, 20%);
      }
    }

    .anticon {
      background-color: white;
      border-radius: 12px;
      padding: 12px;
      color: $opg-orange;
      font-size: 24px;
      transition: background-color 0.1s;
    }
  }
}

.appsMenuIcon {
  color: $opg-gray-medium !important;
}
