/* SyncFusion Essential JS 2 app styles */
@import "~@syncfusion/ej2-base/styles/material.css";
@import "~@syncfusion/ej2-buttons/styles/material.css";
@import "~@syncfusion/ej2-dropdowns/styles/material.css";
@import "~@syncfusion/ej2-grids/styles/material.css";
@import "~@syncfusion/ej2-inputs/styles/material.css";
@import "~@syncfusion/ej2-lists/styles/material.css";
@import "~@syncfusion/ej2-layouts/styles/material.css";
@import "~@syncfusion/ej2-navigations/styles/material.css";
@import "~@syncfusion/ej2-pivotview/styles/material.css";
@import "~@syncfusion/ej2-popups/styles/material.css";
@import "~@syncfusion/ej2-splitbuttons/styles/material.css";
@import "~@syncfusion/ej2-calendars/styles/material.css";

/*
TODO: Replace with CSS import that allows for proper tree shaking
React-App-Rewired does not handle these transitive dependencies correctly
which causes antd components used in interface-builder only to have broken styles.
 */
@import "~antd/dist/antd.css";

/***************************************************************************
*
* OnPoint overrides for AntDesign styles
*/

.ant-select-dropdown {
  z-index: 10000 !important;
}

.component-preview .component-btn-group {
  display: none;
}

.label-wrapper .ant-progress-line {
  padding-right: 15px;
}

/*
 * Fix for layout covering footer. Ant value was zero,
 * causing <Main> wrapping component to be too short
 * and content overflowed the container covering the footer.
 */
main.ant-layout-content {
  min-height: auto;
}
