@import "~@opg/interface-builder/dist/styles/colors.scss";

.pivotTableWrapper {
  position: relative;
  overflow-x: hidden;
  min-height: 700px;
}

.opg-spinner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  line-height: 100vh;
  background-color: rgba(255,255,255,.5);
  padding: 10px;
  z-index: 2;
}


/*******************************************************
 *
 * HACK TO FIX SYNCFUSION HEIGHT
 */

:global {
  :local(.height-auto) {
    .e-pivotview .e-grid div.e-content {
      // No style
    }
  }
  :local(.height-full) {
    .e-pivotview .e-grid div.e-content {
      height: 100% !important;
    }
  }
  :local(.height-fieldlist) {
    .e-pivotview .e-grid div.e-content {
      height: 629px !important;
    }
  }
  :local(.height-value) {
    .e-pivotview .e-grid div.e-content {
      // No style
    }
  }
}

/*******************************************************
 *
 * RESIZABLE DRAWER
 */

:global {
  :local(.resizableDrawer) {
    border-top: solid 1px $ib-grey-light;
    border-right: solid 1px $ib-grey-light;
    border-bottom: solid 1px $ib-grey-light;
    min-height: 651px;

    .ant-drawer-close {
      background-color: white;
    }
  }
}

/*
 * Override Syncfusion's PivotView styles
 */
:global {
  :local(.fieldListPanel) {
    .e-pivotfieldlist-wrapper.e-static {
      border: none;
    }
    .e-title-content {
      display: none;
    }
  }
}
