@import "~@opg/interface-builder/dist/styles/colors.scss";

.configPanelOpenButton {
  position: absolute;
  right: 5px;
  z-index: 1;
  border-radius: 24px;
  background-color: #e0e0e0;
  color: $ib-grey-darkest;

  &:hover {
    background-color: #e0e0e0;
  }
}

.configPanelCloseButton {
  color: $ib-grey-darkest;
}

.splitView {
  border-radius: 4px;
  background-color: #fafafa;
}

.viewPanel {
}

.editModePanel {
  cursor: default;
  margin: -5px;
}

.exportButton {
  margin: 4px;
  padding: 0 4px 0 4px;
  border-radius: 0;
  color: $ib-grey-darkest;

  &:hover {
    background-color: #dcdcdc;
    color: $ib-grey-darkest;
  }
  &:visited {
    color: $ib-grey-darkest;
  }
}
