.tree-component-delete-button {
  opacity: 0;
  background-color: transparent;
  border: 0;
  padding: 0px !important;
  height: auto;
}

.ant-tree-node-content-wrapper:hover .tree-component-delete-button {
  opacity: 1;
}

.tree-component-delete-divider {
  opacity: 0;
}

.ant-tree-node-content-wrapper:hover .tree-component-delete-divider {
  opacity: 1;
}
