<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="Info" internalLogFile="${basedir}/Logs/internal-nlog.txt">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets>
    <target xsi:type="File" name="ownFile-web" fileName="Logs/Logfile.log" layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}" archiveFileName="${basedir}/Logs/Archive/LogFile.{#####}.log" archiveNumbering="Sequence" archiveEvery="Day"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
  </rules>
</nlog>