@import "src/themes/opg-corporate/theme.module";

/*
* :global {...} disables module BEM class name transformations
* For more info, see: https://github.com/css-modules/css-modules
*/
:global {
  :local(.menu) {
    .ant-menu-item:active, .ant-menu-submenu-title:active {
      background-color: lighten($opg-gray, 10%) !important;
    }
    .ant-menu-submenu-selected {
      color: darken($opg-orange, 10%);
    }
    .ant-menu-item-active, .ant-menu-submenu-active {
      & > a, * {
        color: $opg-orange;
      }
    }
    .ant-menu-item-selected {
      background-color: lighten($opg-gray, 10%) !important;
      & > a {
        color: darken($opg-orange, 10%);
        font-weight: 500;
      }
      & > a:hover {
        color: $opg-orange;
      }
      &::after {
        border-right-color: $opg-orange;
      }
    }
  }
}
